body, .footer, .navbar.is-link, .hero.is-link {
    background-color: #4378B7;
}

footer a, footer a:hover {
    color: #FFFFFF;
}

footer a:not(:first-child) {
    margin-left: 2em;
}

.navbar.is-link {
    z-index: 1000;
}

.section {
    background-color: #FFFFFF;
    margin: 2em;
}

.section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}

.keynote-description {
    display: flex;
    align-items: center;
}

.keynote-description > div {
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

.keynote-description > div > .subtitle {
    text-align: justify;
}

.keynoter {
    border-radius: 50%;
}

.keynoter-photo-container {
    display: flex;
    align-items: center;
}

.keynoter-photo-container img {
    border-radius: 50%;
}

.animateur-fresque {
    margin-top: 2em;
}

.animateur-fresque img {
    width: 250px;
    border-radius: 50%;
}

.animateur-fresque span {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

.appel-sponsors-boutons-div {
    margin-top: 2em;
}

.sponsor-title {
    text-align: center;
    margin: 2em !important;
}

.sponsor-title + div {
    align-items: center;
    display: grid;
    grid-gap: 30px;
}

.platinum {
    grid-template-columns: repeat(5, 1fr);
}

.p-first {
    grid-column: 1 / 2;
}

.p-second {
    grid-column: 3 / 4;
}

.p-third {
    grid-column: 5 / 6;
}

.gold {
    grid-template-columns: repeat(7, 1fr);
}

.g-first {
    grid-column: 2 / 3;
    text-align: center;
}

.g-second {
    grid-column: 4 / 5;
    text-align: center;
}

.g-third {
    grid-column: 6 / 7;
    text-align: center;
}

.silver {
    grid-template-columns: repeat(11, 1fr);
}

.s-first {
    grid-column: 2 / 3;
}

.s-second {
    grid-column: 4 / 5;
}

.s-third {
    grid-column: 6 / 7;
}

.s-fourth {
    grid-column: 8 / 9;
}

.s-fifth {
    grid-column: 10 / 11;
}

.bronze {
    grid-template-columns: repeat(11, 1fr);
}

.b-first {
    grid-column: 2 / 3;
}

.b-second {
    grid-column: 4 / 5;
}

.b-third {
    grid-column: 6 / 7;
}

.b-fourth {
    grid-column: 8 / 9;
}

.b-fifth {
    grid-column: 10 / 11;
}

.team img {
    width: 250px;
    border-radius: 50%;
}

.team span {
    display: block;
    margin-top: 1em;
    font-weight: bold;
}

.mesures-sanitaires {
    list-style: inside;
}

.mesures-sanitaires > li{
    text-align: justify;
    margin-bottom: 20px;
}

@media screen and (max-width: 576px) {

    .platinum {
        grid-template-columns: repeat(3, 1fr);
    }

    .p-first {
        grid-column: 1 / 2;
    }

    .p-second {
        grid-column: 2 / 3;
    }

    .p-third {
        grid-column: 3 / 4;
    }

    .gold {
        grid-template-columns: repeat(5, 1fr);
    }

    .g-first {
        grid-column: 1 / 2;
    }

    .g-second {
        grid-column: 3 / 4;
    }

    .g-third {
        grid-column: 5 / 6;
    }

    .silver {
        grid-template-columns: repeat(5, 1fr);
    }

    .s-first {
        grid-column: 1 / 2;
    }

    .s-second {
        grid-column: 2 / 3;
    }

    .s-third {
        grid-column: 3 / 4;
    }

    .s-fourth {
        grid-column: 4 / 5;
    }

    .s-fifth {
        grid-column: 5 / 6;
    }

    .bronze {
        grid-template-columns: repeat(5, 1fr);
    }

    .b-first {
        grid-column: 1 / 2;
    }

    .b-second {
        grid-column: 2 / 3;
    }

    .b-third {
        grid-column: 3 / 4;
    }

    .b-fourth {
        grid-column: 4 / 5;
    }

    .b-fifth {
        grid-column: 5 / 6;
    }

}
