@font-face {
    font-family: 'Aller';
    src: url('/font/Aller.ttf.woff') format('woff'),
    url('/font/Aller.ttf.svg#Aller') format('svg'),
    url('/font/Aller.ttf.eot'),
    url('/font/Aller.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body, .hero.is-link {
    background-color: #FFF;
    font-family: 'Aller';
}

.background-grid {
    width: 500px;
    position: absolute;
    top: 200px;
    right: 0;
}

footer {
    background-color: #3a393a !important;
    background: url('/images/footer-background.svg') no-repeat center/100%;
    color: #000;
}

footer a, footer a:hover {
    color: #FFFFFF;
}

footer a:not(:first-child) {
    margin-left: 2em;
}

.navbar.is-link {
    z-index: 450;
    background-color: #FFF;
}

.navbar-end {
    margin-right: 10%;
}

.navbar.is-link .navbar-burger {
    color: #3E99C1;
}

a.navbar-item {
    color: #3e99c1 !important;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 20px;
}

.navbar.is-link .navbar-end a.navbar-item:hover {
    background-color: #FFF;
    border-bottom: #3e99c1 solid 4px;
    margin-top: 4px;
}

.navbar.is-link .navbar-end .dot {
    align-items: center;
    display: none;
    color: #000;
    font-size: 1.2em;
}

@media screen and (min-width: 1024px) {
    .navbar.is-link .navbar-end .dot {
        display: flex;
    }
}

.logo-container {
    z-index: 475;
    position: absolute;
    top: 0%;
    width: 33%;
}

.logo-container img.logo {
    position: absolute;
    width: 60%;
    left: 22%;
    top: 6%;
}

.logo-container .sub-logo {
    position: absolute;
    color: #FFF;
    z-index: 1;
    font-weight: bolder;
    font-size: 1.6em;
    top: 36%;
    left: 20%;
}

.section-heading {
    padding-bottom: 25px;
}

.section-heading > .title {
    color: #3E99C1;
    position: relative;
    font-size: 30px;
    overflow: hidden;
}

#date {
    margin-left: 5%;
    font-weight: bold;
}

#date #date-box {
    color: #444;
    font-size: 1.6vw;
    margin-top: 3rem;
}

#date #date-dates, #date #date-place {
    margin-right: 10%;
    text-align: right;
}

#date #date-place {
    color: #3E99C1;
}

#intro {
    margin-left: 35%;
    padding-right: 150px;
    text-align: justify;
}

.keynote-description {
    display: flex;
    align-items: center;
}

.keynote-description > div {
    text-align: left;
    margin-left: 3em;
    margin-right: 3em;
}

.keynote-description > div > .subtitle {
    text-align: justify;
}

.keynoter {
    border-radius: 50%;
}

.keynoter-photo-container {
    display: flex;
    align-items: center;
}

.keynoter-photo-container img {
    border-radius: 50%;
}

.container-program {
    max-width: 100%;
    padding: 1em;
}

.appel-sponsors-boutons-div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.appel-sponsors-bouton {
    border-bottom: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
}

.sponsor-title {
    text-align: center;
    margin: 2em !important;
}

.sponsor-title + div {
    align-items: center;
    display: grid;
    grid-gap: 30px;
}

.platinum {
    grid-template-columns: repeat(5, 1fr);
}

.platinum :nth-child(n+1) {
    grid-column: 2 / 3;
}

.platinum :nth-child(n+2) {
    grid-column: 4 / 5;
}

.gold {
    grid-template-columns: repeat(7, 1fr);
}

.gold :nth-child(3n+1) {
    grid-column: 2 / 3;
}

.gold :nth-child(3n+2) {
    grid-column: 4 / 5;
}

.gold :nth-child(3n+3) {
    grid-column: 6 / 7;
}

.silver {
    grid-template-columns: repeat(11, 1fr);
}

.silver :nth-child(3n+1) {
    grid-column: 3 / 4;
}

.silver :nth-child(3n+2) {
    grid-column: 6 / 7;
}

.silver :nth-child(3n+3) {
    grid-column: 9 / 10;
}

.bronze {
    grid-template-columns: repeat(13, 1fr);
}

.bronze :nth-child(6n+1) {
    grid-column: 2 / 3;
}

.bronze :nth-child(6n+2) {
    grid-column: 4 / 5;
}

.bronze :nth-child(6n+3) {
    grid-column: 6 / 7;
}

.bronze :nth-child(6n+4) {
    grid-column: 8 / 9;
}

.bronze :nth-child(6n+5) {
    grid-column: 10 / 11;
}

.bronze :nth-child(6n+6) {
    grid-column: 12 / 13;
}

#team {
    background-color: #3e99c1;
}

#team h3 {
    color: #FFF;
}

#team > .columns {
    margin-left: 5em;
    margin-right: 5em;
}

.team-member img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.team-member div {
    background-color: #FFFFFF;
    color: #3E99C1;
    display: inline-block;
    font-weight: bold;
    margin-top: -1em;
    opacity: 0.8;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    top: -1em;
}

.mesures-sanitaires {
    list-style: inside;
}

.mesures-sanitaires > li {
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    color: #3e99c1;
}

.arrow {
    width: 20px;
    margin-right: 10px;
}

#coc .container {
    padding: 20px;
    text-align: justify;
}

@media screen and (max-width: 576px) {

    .logo-container .sub-logo {
        font-size: 10px;
        width: 10%;
    }

    #date #date-box {
        margin-top: 1rem;
    }

    #date #date-dates, #date #date-place {
        font-size: 10px;
    }

    #intro {
        margin: 0;
        padding: 10px;
    }

    #keynotes .is-2, #sponsors .is-2, #team .is-2 {
        text-align: center;
    }

    #sponsors .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .platinum {
        grid-template-columns: repeat(4, 1fr);
    }

    .platinum :nth-child(n+1) {
        grid-column: 2 / 3;
    }

    .platinum :nth-child(n+2) {
        grid-column: 3 / 4;
    }


    .gold {
        grid-template-columns: repeat(5, 1fr);
    }

    .gold :nth-child(3n+1) {
        grid-column: 1 / 2;
    }

    .gold :nth-child(3n+2) {
        grid-column: 3 / 4;
    }

    .gold :nth-child(3n+3) {
        grid-column: 5 / 6;
    }

    .silver {
        grid-template-columns: repeat(5, 1fr);
    }

    .silver :nth-child(3n+1) {
        grid-column: 1 / 2;
    }

    .silver :nth-child(3n+2) {
        grid-column: 3 / 4;
    }

    .silver :nth-child(3n+3) {
        grid-column: 5 / 6;
    }

    .bronze {
        grid-template-columns: repeat(6, 1fr);
    }

    .bronze :nth-child(6n+1) {
        grid-column: 1 / 2;
    }

    .bronze :nth-child(6n+2) {
        grid-column: 2 / 3;
    }

    .bronze :nth-child(6n+3) {
        grid-column: 3 / 4;
    }

    .bronze :nth-child(6n+4) {
        grid-column: 4 / 5;
    }

    .bronze :nth-child(6n+5) {
        grid-column: 5 / 6;
    }

    .bronze :nth-child(6n+6) {
        grid-column: 6 / 7;
    }

    .team-member div {
        display: block;
        width: 50%;
        margin-left: 25%;
    }

}
