@font-face {
    font-family: 'Aller';
    src: url('../font/Aller.ttf.woff') format('woff'),
    url('../font/Aller.ttf.svg#Aller') format('svg'),
    url('../font/Aller.ttf.eot');
    font-weight: normal;
    font-style: normal;
}

body, .hero.is-link {
    background-color: #000000;
    font-family: 'Aller';
    color: #FFFFFF;
    font-size: 1.1em;
}

.is-2 {
    color: #fcca4e !important;
}

.button.is-link {
    background-color: #fcca4e !important;
}

.background-grid {
    width: 500px;
    position: absolute;
    top: 200px;
    right: 0;
}

.background {
    display: none;
}

.sub-logo {
    display: none;
}

.logo {
    content: url("../images/themes/halloween/logo_siteweb.png");
    width: 75% !important;
    margin-left: -3em;
}

footer {
    background-color: #000000 !important;
}

footer a, footer a:hover {
    color: #FFFFFF;
}

footer a:not(:first-child) {
    margin-left: 2em;
}

footer .icon, footer a {
    color: #fcca4e !important;
}

.navbar {
    background-color: #000000 !important;
}

.navbar.is-link {
    z-index: 450;
    background-color: #FFF;
}

.navbar-end {
    margin-right: 10%;
}

.navbar.is-link .navbar-burger {
    color: #fcca4e;
}

a.navbar-item {
    color: #fcca4e !important;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 20px;
}

.navbar.is-link .navbar-end a.navbar-item:not(.theme-switch):hover {
    background-color: #000000;
    border-bottom: #fcca4e solid 4px;
    margin-top: 4px;
}

.navbar.is-link .navbar-end a.navbar-item.theme-switch:hover {
    background-color: #000000;
}

.navbar.is-link .navbar-end .dot {
    align-items: center;
    display: none;
    color: #fcca4e;
    font-size: 1.2em;
}

.switch[type="checkbox"].is-small:checked + label::before, .switch[type="checkbox"].is-small:checked + label::before {
    background-color: #fcca4e;
}

.home {
    content: url("../images/themes/halloween/home.svg");
}

.map-pointer {
    content: url("../images/themes/halloween/map-pointer.svg");
}

.button.is-link {
    background-color: #fcca4e !important;
}

@media screen and (min-width: 1024px) {
    .navbar.is-link .navbar-end .dot {
        display: flex;
    }
}

.logo-container {
    z-index: 475;
    position: absolute;
    top: 0%;
    width: 33%;
}

.logo-container img.logo {
    position: absolute;
    width: 60%;
    left: 22%;
    top: 6%;
    max-width: 60%;
}

.logo-container .sub-logo {
    position: absolute;
    color: #FFF;
    z-index: 1;
    font-weight: bolder;
    font-size: 1.6em;
    top: 36%;
    left: 20%;
}

.section-heading {
    padding-bottom: 25px;
}

.section-heading > .title {
    color: #3E99C1;
    position: relative;
    font-size: 30px;
    overflow: hidden;
}

#date {
    font-weight: bold;
}

#date #date-box {
    color: #444;
    font-size: 1.6vw;
    margin-top: 3rem;
}

#date #date-dates, #date #date-place {
    text-align: right;
    color: #FFFFFF;
}

#date #date-place {
    color: #FFFFFF;
}

.actions-boutons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 50%;
}

.actions-boutons :nth-child(n+1) {
    grid-column: 3 / 3;
}

.action-bouton {
    display: flex;
    font-size: 10pt;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#intro {
    margin-top: 30px;
}

#newsletter {
    margin-left: 35%;
    padding-right: 150px;
    text-align: justify;
}

.mc-field-group {
    color: #7e1124;
}

#keynotes .container .columns {
    padding: 50px;
}

.keynote-description {
    display: flex;
    align-items: center;
}

.keynote-description > div {
    text-align: left;
    margin-right: 3em;
}

.keynote-description > div > .title {
    color: #FFFFFF;
}

.keynote-description > div > .subtitle {
    text-align: justify;
    color: #FFFFFF;
    font-size: 1em;
}

.keynoter {
    border-radius: 50%;
}

.keynoter-photo-container {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.keynoter-photo-container img, .keynoter-photo-mobile {
    border-radius: 50%;
}

.container-program {
    max-width: 100%;
    padding: 1em;
}

.sz-tab-container--active .sz-day__title {
    color: #FFFFFF !important;
}

#sessionize.sessionize-wrapper .sz-tabs__link {
    color: #FFFFFF !important;
}

#sessionize.sessionize-wrapper .sz-tabs__link:hover {
    color: #7e1124 !important;
}

#sessionize.sessionize-wrapper .sz-tabs__item--active .sz-tabs__link {
    color: #7e1124 !important;
}

.sz-cssgrid__time-label {
    color: #FFFFFF;
}

.sz-room {
    font-weight: bold;
}

.sz-session__description {
    color: #000000;
}

.macaron-platinum {
    display: flex;
    justify-content: space-between;
}

.macaron-platinum img {
    height: 70px;
}

.appel-sponsors-boutons-div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.appel-sponsors-bouton, .newsletter-bouton, .action-bouton {
    color: #7e1124;
    background-color: #fcca4e;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.newsletter-bouton {
    font-size: 15px;
    width: 150px !important;
}

.sponsor-title {
    text-align: center;
    margin: 8em 0 0 0 !important;
}

.sponsor-title > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -64px !important;
    margin-bottom: 0 !important;
}

.sponsor-title > .title > div {
    background-color: #000000;
    padding: 0 0.2em 0 0.2em
}

.sponsor-container {
    padding: 1em;
}

.sponsor-container div {
    background-color: #FFFFFF;
}

.platinum, .gold, .silver, .bronze {
    padding: 3em;
    align-items: center;
    display: grid;
    grid-gap: 30px;
}

.platinum-title {
    border-left: 3px solid #939494;
    border-top: 3px solid #939494;
    border-right: 3px solid #939494;
}

.platinum-title > .title > div {
    color: #939494;
}

.platinum-border {
    border-left: 3px solid #939494;
    border-bottom: 3px solid #939494;
    border-right: 3px solid #939494;
}

.platinum {
    grid-template-columns: repeat(5, 1fr);
}

.platinum :nth-child(n+1) {
    grid-column: 2 / 3;
}

.platinum :nth-child(n+2) {
    grid-column: 4 / 5;
}

.gold-title {
    border-left: 3px solid #ffd42a;
    border-top: 3px solid #ffd42a;
    border-right: 3px solid #ffd42a;
}

.gold-title > .title > div {
    color: #ffd42a;
}

.gold-border {
    border-left: 3px solid #ffd42a;
    border-bottom: 3px solid #ffd42a;
    border-right: 3px solid #ffd42a;
}

.gold {
    grid-template-columns: repeat(7, 1fr);
}

.gold :nth-child(3n+1) {
    grid-column: 2 / 3;
}

.gold :nth-child(3n+2) {
    grid-column: 4 / 5;
}

.gold :nth-child(3n+3) {
    grid-column: 6 / 7;
}

.silver-title {
    border-left: 3px solid #d5d7d6;
    border-top: 3px solid #d5d7d6;
    border-right: 3px solid #d5d7d6;
}

.silver-title > .title > div {
    color: #d5d7d6;
}

.silver-border {
    border-left: 3px solid #d5d7d6;
    border-bottom: 3px solid #d5d7d6;
    border-right: 3px solid #d5d7d6;
}

.silver {
    grid-template-columns: repeat(7, 1fr);
}

.silver :nth-child(3n+1) {
    grid-column: 2 / 3;
}

.silver :nth-child(3n+2) {
    grid-column: 4 / 5;
}

.silver :nth-child(3n+3) {
    grid-column: 6 / 7;
}

.bronze-title {
    border-left: 3px solid #e1b893;
    border-top: 3px solid #e1b893;
    border-right: 3px solid #e1b893;
}

.bronze-title > .title > div {
    color: #e1b893;
}

.bronze-border {
    border-left: 3px solid #e1b893;
    border-bottom: 3px solid #e1b893;
    border-right: 3px solid #e1b893;
}

.bronze {
    grid-template-columns: repeat(7, 1fr);
}

.bronze :nth-child(3n+1) {
    grid-column: 2 / 2;
}

.bronze :nth-child(3n+2) {
    grid-column: 4 / 4;
}

.bronze :nth-child(3n+3) {
    grid-column: 6 / 6;
}

#team {
    background-color: #fcca4e;
}

#team h3 {
    color: #7e1124 !important;
}

#team > .columns {
    margin-left: 5em;
    margin-right: 5em;
}

.team-member img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.team-member div {
    background-color: #FFFFFF;
    color: #7e1124;
    font-weight: bold;
    opacity: 0.8;
    margin-top: -1em;
}

.mesures-sanitaires {
    list-style: inside;
}

.mesures-sanitaires > li {
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    color: #3e99c1;
}

.arrow {
    width: 20px;
    margin-right: 10px;
}

#coc .container {
    padding: 20px;
    text-align: justify;
}

#team-first-line, #team-second-line {
    display: flex;
    justify-content: space-evenly;
}

#team-second-line {
    margin-top: 3em;
}

@media screen and (max-width: 576px) {

    .logo-container img.logo {
        max-width: 100%;
    }

    .logo-container .sub-logo {
        font-size: 10px;
        width: 10%;
    }

    #date {
        padding-right: 20px;
    }

    #date #date-box {
        margin-top: 1rem;
    }

    #date #date-box {
        font-size: 3.5vw;
        margin-right: 0%;
    }

    .actions-boutons {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    #intro {
        margin: 0;
    }

    #keynotes .container .columns {
        margin: 0;
        padding: 0;
    }

    #keynotes .is-2, #sponsors .is-2, #team .is-2 {
        text-align: center;
    }

    .keynoter-photo-container {
        margin-right: 0;
    }

    .keynote-description > div {
        margin-right: 0;
    }

    #sponsors .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #newsletter {
        margin-left: 0;
        padding-right: 1.5rem;
    }

    .sponsor-title {
        margin: 4em 0 0 0 !important;
    }

    .sponsor-title .title {
        font-size: 1em;
    }

    .sponsor-title > div {
        margin-top: -32px !important;
    }

    .platinum {
        grid-template-columns: repeat(2, 1fr);
    }

    .platinum :nth-child(n+1) {
        grid-column: 1 / 2;
    }

    .platinum :nth-child(n+2) {
        grid-column: 2 / 3;
    }

    .gold {
        grid-template-columns: repeat(3, 1fr);
    }

    .gold :nth-child(2n+1) {
        grid-column: 1 / 2;
    }

    .gold :nth-child(2n+2) {
        grid-column: 3 / 4;
    }

    .silver {
        grid-template-columns: repeat(3, 1fr);
    }

    .silver :nth-child(2n+1) {
        grid-column: 1 / 2;
    }

    .silver :nth-child(2n+2) {
        grid-column: 3 / 4;
    }

    .bronze {
        grid-template-columns: repeat(3, 1fr);
    }

    .bronze :nth-child(2n+1) {
        grid-column: 1 / 2;
    }

    .bronze :nth-child(2n+2) {
        grid-column: 3 / 4;
    }

    .team-member div {
        display: block;
        width: 50%;
        margin-left: 25%;
    }

    #team-first-line, #team-second-line {
        flex-direction: column;
    }

    #team-first-line .team-member:not(:first-of-type), #team-second-line .team-member:not(:first-of-type) {
        margin-top: 3em;
    }

}
