@font-face {
    font-family: 'Aller';
    src: url('../../font/Aller.ttf.woff') format('woff'),
    url('../../font/Aller.ttf.svg#Aller') format('svg'),
    url('../../font/Aller.ttf.eot');
    font-weight: normal;
    font-style: normal;
}

body, .hero.is-link {
    background-color: #FFF;
    font-family: 'Aller';
    font-size: 1.1em;
}

.button.is-link {
    background-color: #3e99c1 !important;
}

.background-grid {
    width: 500px;
    position: absolute;
    top: 200px;
    right: 0;
}

footer {
    background-color: #3a393a !important;
    background: url('../images/footer-background.svg') no-repeat center/100%;
    color: #000;
}

footer a, footer a:hover {
    color: #FFFFFF;
}

footer a:not(:first-child) {
    margin-left: 2em;
}

#navbar-atrennes {
    min-height: 80px;
}

.navbar.is-link {
    z-index: 450;
    background-color: #FFF;
}

.navbar-end {
    margin-right: 10%;
}

.navbar.is-link .navbar-burger {
    color: #3E99C1;
}

a.navbar-item {
    color: #3e99c1 !important;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 20px;
}

.navbar.is-link .navbar-end a.navbar-item:not(.theme-switch):hover {
    background-color: #FFF;
    border-bottom: #3e99c1 solid 4px;
    margin-top: 4px;
}

.navbar.is-link .navbar-end a.navbar-item.theme-switch:hover {
    background-color: #FFF;
}

.navbar.is-link .navbar-end .dot {
    align-items: center;
    display: none;
    color: #000;
    font-size: 1.2em;
}

.switch[type="checkbox"].is-small + label::before, .switch[type="checkbox"].is-small + label::before {
    background-color: #3E99C1;
}

.home {
    content: url("../images/home.svg");
}

.map-pointer {
    content: url("../images/map-pointer.svg");
}

.button.is-link {
    background-color: #3e99c1 !important;
}

@media screen and (min-width: 1024px) {
    .navbar.is-link .navbar-end .dot {
        display: flex;
    }
}

.logo-container {
    z-index: 475;
    position: absolute;
    top: 9%;
    width: 33%;
}

.logo-container img.logo {
    position: absolute;
    width: 60%;
    left: 22%;
    top: 6%;
}

.logo-container img.background {
    content: url("../images/logo-background.svg");
}

.logo-container .sub-logo {
    position: absolute;
    color: #FFF;
    z-index: 1;
    font-weight: bolder;
    font-size: 1.6em;
    top: 36%;
    left: 20%;
}

.section-heading {
    padding-bottom: 25px;
}

.section-heading > .title {
    color: #3E99C1;
    position: relative;
    font-size: 30px;
    overflow: hidden;
}

#date {
    font-weight: bold;
}

#date #date-box-container {
    color: #444;
    font-size: 1.6vw;
    margin-top: 3rem;
    display: flex;
    justify-content: flex-end;
}

#date #date-dates, #date #date-place {
    text-align: right;
}

#date #date-place {
    color: #3E99C1;
}

.actions-boutons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 50%;
}

.actions-boutons :nth-child(n+1) {
    grid-column: 2 / 3;
}

.actions-boutons :nth-child(n+2) {
    grid-column: 3 / 4;
}

.action-bouton {
    display: flex;
    font-size: 10pt;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#intro {
    margin-top: 30px;
}

#newsletter {
    margin-left: 35%;
    padding-right: 150px;
    text-align: justify;
}

#theme {
    display: none;
}

#keynotes .container .columns {
    padding: 50px;
}

.keynote-description {
    display: flex;
    align-items: center;
}

.keynote-description > div {
    text-align: left;
    margin-right: 3em;
}

.keynote-description > div > .subtitle {
    text-align: justify;
    font-size: 1em;
}

.keynoter {
    border-radius: 50%;
}

.keynoter-photo-container {
    display: flex;
    align-items: center;
    margin-right: 3em;
}

.keynoter-photo-container img, .keynoter-photo-mobile {
    border-radius: 50%;
}

#programme {
    margin-top: 50px;
}

.container-program {
    max-width: 100%;
    padding: 1em;
}

.sz-room {
    font-weight: bold;
}

.macaron-premium {
    display: flex;
    justify-content: space-between;
}

.macaron-premium img {
    height: 70px;
}

.appel-sponsors-boutons-div {
    margin-top: 2em;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.appel-sponsors-bouton, .newsletter-bouton, .action-bouton, .contact-button {
    border-bottom: 2px solid #FFFFFF; /* TODO Maybe to delete, useless */
    border-top: 2px solid #FFFFFF; /* TODO Maybe to delete, useless */
    border-right: 2px solid #FFFFFF; /* TODO Maybe to delete, useless */
    color: #FFFFFF;
    background-color: #3E99C1;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.newsletter-bouton {
    font-size: 15px;
    width: 150px !important;
}

.image.is-192x192 {
    height: 192px;
    width: 192px
}

.sponsor-title {
    text-align: center;
    margin: 8em 0 0 0 !important;
}

.sponsor-title > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -96px !important;
    margin-bottom: 0 !important;
}

.sponsor-title > .title > div {
    background-color: #FFFFFF;
    padding: 0 0.2em 0 0.2em
}

.sponsor-container {
    padding: 1em;
}

.sponsor-container div {
    background-color: #FFFFFF;
}

.premium, .standard, .numerique {
    padding: 3em;
    align-items: center;
    display: grid;
    grid-gap: 30px;
}

.premium-title {
    border-left: 3px solid #d65250;
    border-top: 3px solid #d65250;
    border-right: 3px solid #d65250;
}

.premium-title > .title > div {
    color: #d65250;
}

.premium {
    grid-template-columns: repeat(5, 1fr);
    border-left: 3px solid #d65250;
    border-bottom: 3px solid #d65250;
    border-right: 3px solid #d65250;
}

.premium :nth-child(n+1) {
    grid-column: 2 / 3;
}

.premium :nth-child(n+2) {
    grid-column: 4 / 5;
}

.standard-title {
    border-left: 3px solid #e99134;
    border-top: 3px solid #e99134;
    border-right: 3px solid #e99134;
}

.standard-title > .title > div {
    color: #e99134;
}

.standard {
    grid-template-columns: repeat(7, 1fr);
    border-left: 3px solid #e99134;
    border-bottom: 3px solid #e99134;
    border-right: 3px solid #e99134;
}

.standard :nth-child(3n+1) {
    grid-column: 2 / 3;
}

.standard :nth-child(3n+2) {
    grid-column: 4 / 5;
}

.standard :nth-child(3n+3) {
    grid-column: 6 / 7;
}

.numerique-title {
    border-left: 3px solid #e0d555;
    border-top: 3px solid #e0d555;
    border-right: 3px solid #e0d555;
}

.numerique-title > .title > div {
    color: #e0d555;
}

.numerique {
    grid-template-columns: repeat(7, 1fr);
    border-left: 3px solid #e0d555;
    border-bottom: 3px solid #e0d555;
    border-right: 3px solid #e0d555;
}

.numerique :nth-child(3n+1) {
    grid-column: 2 / 2;
}

.numerique :nth-child(3n+2) {
    grid-column: 4 / 4;
}

.numerique :nth-child(3n+3) {
    grid-column: 6 / 6;
}

#team {
    background-color: #3e99c1;
}

#team h3 {
    color: #FFF;
}

#team > .columns {
    margin-left: 5em;
    margin-right: 5em;
}

.team-member img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.team-member div {
    background-color: #FFFFFF;
    color: #3E99C1;
    font-weight: bold;
    opacity: 0.8;
    margin-top: -1em;
}

.mesures-sanitaires {
    list-style: inside;
}

.mesures-sanitaires > li {
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    color: #3e99c1;
}

.arrow {
    width: 20px;
    margin-right: 10px;
}

#coc .container {
    padding: 20px;
    text-align: justify;
}

.contact-div {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#team-first-line, #team-second-line {
    display: flex;
    justify-content: space-evenly;
}

#team-second-line {
    margin-top: 3em;
}

@media screen and (max-width: 576px) {

    .logo-container .sub-logo {
        font-size: 10px;
        width: 10%;
    }

    #date {
        padding-right: 20px;
    }

    #date #date-box-container {
        margin-top: 1rem;
    }

    #date #date-box-container {
        font-size: 3.5vw;
        margin-right: 0%;
    }

    .actions-boutons {
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }

    #intro {
        margin: 0;
    }

    #keynotes .container .columns {
        margin: 0;
        padding: 0;
    }

    #keynotes .is-2, #sponsors .is-2, #team .is-2 {
        text-align: center;
    }

    .keynoter-photo-container {
        margin-right: 0;
    }

    .keynote-description > div {
        margin-right: 0;
    }

    #sponsors .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    #newsletter {
        margin-left: 0;
        padding-right: 1.5rem;
    }

    .sponsor-title {
        margin: 4em 0 0 0 !important;
    }

    .sponsor-title .title {
        font-size: 1em;
    }

    .sponsor-title > div {
        margin-top: -32px !important;
    }

    .premium {
        grid-template-columns: repeat(2, 1fr);
    }

    .premium :nth-child(n+1) {
        grid-column: 1 / 2;
    }

    .premium :nth-child(n+2) {
        grid-column: 2 / 3;
    }

    .standard {
        grid-template-columns: repeat(3, 1fr);
    }

    .standard :nth-child(2n+1) {
        grid-column: 1 / 2;
    }

    .standard :nth-child(2n+2) {
        grid-column: 3 / 4;
    }

    .numerique {
        grid-template-columns: repeat(3, 1fr);
    }

    .numerique :nth-child(2n+1) {
        grid-column: 1 / 2;
    }

    .numerique :nth-child(2n+2) {
        grid-column: 3 / 4;
    }

    .team-member div {
        display: block;
        width: 50%;
        margin-left: 25%;
    }

    #team-first-line, #team-second-line {
        flex-direction: column;
    }

    #team-first-line .team-member:not(:first-of-type), #team-second-line .team-member:not(:first-of-type) {
        margin-top: 3em;
    }

}
