body {
    /*background: #5AC5F0;*/
    background: linear-gradient(
            to bottom,
            hsl(200deg, 80%, 55%),
            hsl(200deg, 80%, 80%),
            hsl(200deg, 80%, 80%),
            hsl(230deg, 80%, 80%),
            hsl(260deg, 80%, 80%),
            hsl(290deg, 80%, 80%),
            hsl(320deg, 80%, 80%),
            hsl(340deg, 80%, 80%),
            hsl(340deg, 80%, 70%) 100%
    );
    color: #3B3B3B;
    font-size: 1.3em;
}

.logo-container img.background {
    content: url("../images/themes/2024/logo-background.svg");
}

.logo-container img.logo {
    content: url("../images/themes/2024/logo.png");
}

.logo-container img.logo {
    position: absolute;
    width: 70%;
    left: 14%;
    top: 5%;
}

.logo-container .sub-logo {
    display: none;
}

.background-grid {
    top: 0;
    width: 100%;
    content: url("https://s.cdpn.io/15514/clouds_2.png");
}

#date-box {
    background-size: 200px 200px;
    border-radius: 80% 20% 32% 68% / 58% 22% 78% 42%;
    margin-top: 50px;
    padding: 100px 30px 87px;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
    background: #FFF;
}

#date #date-place {
    color: #0E5EA9;
}

.map-pointer {
    content: url("../images/themes/2024/map-pointer.svg");
}

.navbar.is-link .navbar-end a.navbar-item:not(.theme-switch):hover {
    background-color: transparent;
    border-bottom: #0E5EA9 solid 4px;
}

.navbar.is-link .navbar-end a.navbar-item.theme-switch:hover {
    background-color: transparent;
}

.navbar.is-link .navbar-end a.navbar-item.theme-switch:not(:hover) {
    background-color: transparent;
}

a.navbar-item {
    color: #0E5EA9 !important;
}

.home {
    content: url("../images/themes/2024/home.svg");
}

.premium, .premium-title, .standard, .standard-title, .numerique, .numerique-title {
    background-color: #FFF;
}

.action-bouton {
    background: #FFF;
    color: #0E5EA9;
    font-size: 1.2rem;
    margin-left: 100px;
    width: 190px;
    border-radius: 80% 20% 32% 68% / 58% 22% 78% 42%;
    padding: 40px 30px 30px;
    --g: radial-gradient(50% 50%, #000 98%, #0000) no-repeat;
}

.section-heading > .title {
    color: #0E5EA9;
}

#intro {
    background-color: white;
    border-radius: 80px;
    margin: 0 auto;
    position: relative;
    width: fit-content;
}

#intro > .section-heading > .title {
    color: #0E5EA9;
}

#theme {
    display: block;
    background-color: white;
    border-radius: 80px;
    margin: 70px auto;
    position: relative;
    width: fit-content;
    padding-left: 3rem;
}

#theme_meaning {
    margin-top: 25px;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    text-align: justify;
}

.affiche {
    height: auto;
    max-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#keynotes > .section-heading {
    text-align: center;
}

#keynotes > .section-heading > .title {
    font-size: 35px;
}

.keynoter-photo-container img, .keynoter-photo-mobile {
    border-radius: 80% 20% 32% 52% / 58% 22% 65% 40%;
}

#programme > .section-heading > .title {
    position: absolute;
    padding: 15px 15px;
}

#programme, #coc, #keynotes {
    background-color: white;
    border-radius: 80px;
    margin: 70px auto;
    position: relative;
    width: fit-content;
}

#team {
    background-color: white;
    border-radius: 80px;
    margin: 70px auto;
    width: fit-content;
}

#team-first-line, #team-second-line {
    gap: 100px;
}

#team h3 {
    color: #0E5EA9;
}

.team-member div {
    background-color: #FFFFFF;
    font-weight: bold;
    opacity: 0.9;
    margin-top: -0.5em;
    color: #0E5EA9;
}

.appel-sponsors-bouton, .contact-button {
    color: #FFFFFF;
    background-color: #0E5EA9;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border: none;
}

#sponsors > .section-heading > .title {
    background-color: #FFF;
    width: fit-content;
    padding: 20px 25px;
    border-radius: 30px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 576px) {
    .affiche {
        max-width: 100%;
    }
}
