<section class="section" id="actions">
    <div class="container">
        <div class="actions-boutons">
            <a href="/newsletter.html">
                <div class="action-bouton">
                    <i class="fas fa-newspaper"></i>
                    <span>S'inscrire à la newsletter</span>
                </div>
            </a>
        </div>
    </div>
</section>
