<section class="section" id="appel-sponsors">
    <div class="container section-heading">
        <h2 class="title is-2">Appel à sponsors</h2>
    </div>
    <div class="container under-wave">
        Cette année plus que jamais nous avons besoin du soutien de sponsors.
        <br/>
        Que vous soyez sponsor fidèle de la première heure, à nos côtés depuis quelques années ou bien nouvellement
        intéressé, merci de prendre contact avec nous.
        <br/>
    </div>
    <div class="container has-text-centered appel-sponsors-boutons-div">
        <a href="mailto:sponsoring@agilerennes.org" target="_blank">
            <div class="appel-sponsors-bouton"><img src='{{ "images/arrow.svg" }}' class="arrow">&nbsp;Contacter
                l'équipe sponsoring
            </div>
        </a>
    </div>
</section>