<section class="section" id="coc">
    <div class="container section-heading">
        <h2 class="title is-2">Code de Conduite</h2>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column content">
                <p>
                    L’Agile Tour Rennes est un événement ouvert à toutes et à tous, dans lequel l’ensemble de l’équipe
                    d’organisation prône des valeurs d’ouverture et de respect. Nous souhaitons que l’ensemble des
                    personnes
                    actrices de l’événement puisse vivre une expérience agréable et enrichissante. Cela implique que
                    toutes les
                    personnes participant (partenaires, orateur-ice-s, sponsors et bénévoles) respectent ce code de
                    conduite.
                </p>
                <b>Code de conduite de l'Agile Tour Rennes</b>
                <p>
                    L’équipe d’organisation de l’Agile Tour Rennes a à cœur que chaque personne intervenant ou
                    participant,
                    puisse
                    profiter de l’événement sans aucune forme de discrimination ou de harcèlement.
                </p>
                <p>
                    Pour rappel, voici une liste non exhaustive de potentiels critères de discrimination :
                </p>
                <ul>
                    <li>Âge</li>
                    <li>Apparence physique</li>
                    <li>Caractéristiques génétiques</li>
                    <li>État de santé</li>
                    <li>Grossesse</li>
                    <li>Handicap ou empêchement</li>
                    <li>Identité ou expression de genre</li>
                    <li>Orientation sexuelle</li>
                    <li>Nom</li>
                    <li>Origine</li>
                    <li>Perte d'autonomie</li>
                    <li>Expression religieuse</li>
                </ul>
                <p>
                    Nous ne tolérons aucune forme de discrimination ou de harcèlement, que ce soit lors des conférences
                    ou en
                    dehors
                    de celles-ci (cela inclut les communications associées à l’événement sur les réseaux sociaux).
                </p>
                <p>
                    Les personnes participant à la conférence qui enfreignent ces règles peuvent être sanctionnées ou
                    expulsées
                    de
                    la conférence sans remboursements, à la discrétion des organisateurs de la conférence.
                </p>
                <p>
                    Bien sûr, ces règles sont aussi encouragées en dehors de l’événement !
                </p>
                <b>Signalement</b>

                <p>
                    Si toutefois, un comportement se devait d’être signalé et que vous le souhaitez, nous vous invitons
                    à
                    contacter
                    immédiatement l’équipe orga qui mettra en place les mesures nécessaires.
                </p>
                <p>
                    Un duo mixte, sensibilisé aux enjeux autour du harcèlement par des personnes indépendantes, sera
                    identifié
                    en
                    début de chaque journée et disponible tout au long de la conférence pour aider. Vous pourrez être
                    reçu-e
                    en
                    toute discrétion et écouté-e, puis nous chercherons d’éventuelles solutions ensemble.
                    Ces directives seront explicitées sur place lors du mot de l’équipe orga, et les personnes dédiées à
                    ces
                    questions resteront facilement identifiables et joignables tout au long de l’événement.
                </p>
                <b>Contact</b>
              <p>
                Si besoin, n’hésitez pas à nous envoyer un email en cliquant sur le bouton ci-dessous.  </p>
                <div class="container has-text-centered contact-div">
                        <a href="mailto:agiletour@agilerennes.org" target="_blank">
                          <div class="contact-button"><img src='{{ "images/arrow.svg" }}' class="arrow">&nbsp;Contacter l'équipe d'organisation</div>
                        </a>
                </div>
            </div>
        </div>
    </div>
</section>