<footer class="footer has-text-centered" id="footer">
    <a href="mailto:agiletour@agilerennes.org" target="_blank">
        <span class="icon">
            <i class="fas fa-2x fa-envelope"></i>
        </span>
    </a>
    <a href="https://www.youtube.com/c/AgileTourRennes" target="_blank">
        <span class="icon">
            <i class="fab fa-2x fa-youtube"></i>
        </span>
    </a>
    <a href="https://www.linkedin.com/company/agiletourrennes/" target="_blank">
        <span class="icon">
            <i class="fab fa-2x fa-linkedin-in"></i>
        </span>
    </a>
    <br/><br/>
    <span>
        <a href="2021.html">2021</a>
    </span>
    &nbsp;
    <span>
        <a href="2022.html">2022</a>
    </span>
    &nbsp;
    <span>
        <a href="2023.html">2023</a>
    </span>
    &nbsp;
    <span>
        <a href="2024.html">2024</a>
    </span>
    <br/><br/>
    <span>
        <a href="https://drive.google.com/file/d/1jRwn1sc7Pf9iC1Xu3es_L2ttcrT2jeSt/view?usp=sharing" target="_blank">Kit sponsor</a>
    </span>
</footer>
</body>
</html>
