<!DOCTYPE html>
<html>

<head>
    <title>Agile Tour Rennes</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ "images/favicon.png" }}"/>
    <link rel="stylesheet" href='{{ "css/fontawesome-free/css/all.css" }}'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.4/dist/css/bulma-switch.min.css ">
    <link rel="stylesheet" href='{{ "css/atrennes.css" }}' />
    <script async type="text/javascript" src='{{ "js/bulma.js" }}'></script>
    <script defer type="text/javascript" src='{{ "js/atrennes.js" }}'></script>

    <meta name="description" content="Ouvert à toutes personnes travaillant en équipe, l'Agile Tour Rennes est le rendez-vous annuel des passionnés de l'agilité pour partager nos pratiques et en expérimenter de nouvelles. Cet événement permet la rencontre de personnes diverses et disciplines multiples le tout dans un cadre propice à l'échange et dans une ambiance conviviale.">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Agile Tour Rennes">
    <meta property="og:description" content="Ouvert à toutes personnes travaillant en équipe, l'Agile Tour Rennes est le rendez-vous annuel des passionnés de l'agilité pour partager nos pratiques et en expérimenter de nouvelles. Cet événement permet la rencontre de personnes diverses et disciplines multiples le tout dans un cadre propice à l'échange et dans une ambiance conviviale.">
    <meta property="og:image" content="https://agiletour.agilerennes.org/images/opengraph.png">

    <meta property="twitter:title" content="Agile Tour Rennes">
    <meta property="twitter:description" content="Ouvert à toutes personnes travaillant en équipe, l'Agile Tour Rennes est le rendez-vous annuel des passionnés de l'agilité pour partager nos pratiques et en expérimenter de nouvelles. Cet événement permet la rencontre de personnes diverses et disciplines multiples le tout dans un cadre propice à l'échange et dans une ambiance conviviale.">
    <meta property="twitter:image" content="https://agiletour.agilerennes.org/images/opengraph.png">

</head>

<body>

<img src='{{ "images/background-grid.svg" }}' class="background-grid">

<div class="logo-container">
    <span class="sub-logo">RENNES 2025</span>
    <img class="background" />
    <img class="logo" src='{{ "images/logo-2023.png" }}'>
</div>

<nav class="navbar is-link is-fixed-top" id="navbar">
    <div class="navbar-brand">
        <div class="navbar-burger burger" data-target="navbar-atrennes">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="navbar-atrennes" class="navbar-menu">
        <div class="navbar-end has-text-right-mobile">
            <a class="navbar-item" href="#">
                <img class="home" style="width: 20px">
            </a>
            <span class="dot">&bullet;</span>
            <a class="navbar-item" href="#sponsors">
                <span>Sponsors</span>
            </a>
            <span class="dot">&bullet;</span>
            <a class="navbar-item" href="#team">
                <span>Equipe</span>
            </a>
        </div>
    </div>
</nav>

<section class="section" id="date">
</section>
