<section class="section" id="sponsors">
    <div class="container section-heading">
        <h2 class="title is-2">Merci à nos sponsors</h2>
    </div>

    <div class="container">
        <div class="sponsor-title premium-title">
            <div class="title">
                <div>
                    <figure class="image is-192x192 is-hidden-mobile">
                        <img src={{"/images/sponsor-premium.png"}}>
                    </figure>
                    <figure class="image is-64x64 is-hidden-desktop is-hidden-tablet">
                        <img src={{"/images/sponsor-premium.png"}}>
                    </figure>
                </div>
            </div>
        </div>
        <div class="premium">
            <img src='{{"/images/logos/neo-soft.png"}}'>
            <img src='{{"/images/logos/SII.png"}}'>
        </div>
        <div class="sponsor-title standard-title">
            <div class="title">
                <div>
                    <figure class="image is-192x192 is-hidden-mobile">
                        <img src={{"/images/sponsor-standard.png"}}>
                    </figure>
                    <figure class="image is-64x64 is-hidden-desktop is-hidden-tablet">
                        <img src={{"/images/sponsor-standard.png"}}>
                    </figure>
                </div>
            </div>
        </div>
        <div class="standard is-hidden-mobile">
            <img src='{{"/images/logos/capgemini.jpg"}}'>
            <img src='{{"/images/logos/dga.png"}}'>
            <img src='{{"/images/logos/groupama.png"}}'>
            <img src='{{"/images/logos/idnow.svg"}}'>
            <img src='{{"/images/logos/infotel.jpg"}}'>
            <img src='{{"/images/logos/kanoma.png"}}'>
            <img src='{{"/images/logos/onepoint.png"}}'>
            <img src='{{"/images/logos/oxxeo.png"}}'>
            <img src='{{"/images/logos/scalian.jpg"}}'>
            <img src='{{"/images/logos/thales.png"}}'>
            <img src='{{"/images/logos/wijin.png"}}'>
            <img src='{{"/images/logos/younup.png"}}'>
            <span>&nbsp;</span>
            <img src='{{"/images/logos/zenika.png"}}'>
        </div>
        <div class="standard is-hidden-desktop is-hidden-tablet">
            <img src='{{"/images/logos/capgemini.jpg"}}'>
            <img src='{{"/images/logos/dga.png"}}'>
            <img src='{{"/images/logos/groupama.png"}}'>
            <img src='{{"/images/logos/idnow.svg"}}'>
            <img src='{{"/images/logos/infotel.jpg"}}'>
            <img src='{{"/images/logos/kanoma.png"}}'>
            <img src='{{"/images/logos/onepoint.png"}}'>
            <img src='{{"/images/logos/oxxeo.png"}}'>
            <img src='{{"/images/logos/scalian.jpg"}}'>
            <img src='{{"/images/logos/thales.png"}}'>
            <img src='{{"/images/logos/wijin.png"}}'>
            <img src='{{"/images/logos/younup.png"}}'>
            <img src='{{"/images/logos/zenika.png"}}'>
        </div>
        <div class="sponsor-title numerique-title">
            <div class="title">
                <div>
                    <figure class="image is-192x192 is-hidden-mobile">
                        <img src={{"/images/sponsor-numerique.png"}}>
                    </figure>
                    <figure class="image is-64x64 is-hidden-desktop is-hidden-tablet">
                        <img src={{"/images/sponsor-numerique.png"}}>
                    </figure>
                </div>
            </div>
        </div>
        <div class="numerique is-hidden-mobile">
            <img src='{{"/images/logos/6tm.png"}}'>
            <img src='{{"/images/logos/apside.png"}}'>
            <img src='{{"/images/logos/bechange.svg"}}'>
            <img src='{{"/images/logos/brittany-ferries.png"}}'>
            <img src='{{"/images/logos/cgi.png"}}'>
            <img src='{{"/images/logos/coachissime.svg"}}'>
            <img src='{{"/images/logos/gmv.png"}}'>
            <a href="https://kokan.fr" target="_blank">
                <img src='{{"/images/logos/kokan.png"}}'>
            </a>
            <img src='{{"/images/logos/luminess.jpg"}}'>
            <img src='{{"/images/logos/maxds.png"}}'>
            <a href="https://www.linkedin.com/in/nicolas-djimli/" target="_blank">
                <img src='{{"/images/logos/nsdi.png"}}'>
            </a>
            <img src='{{"/images/logos/proxiad.png"}}'>
            <span>&nbsp;</span>
            <img src='{{"/images/logos/softeam.jpeg"}}'>
        </div>
        <div class="numerique is-hidden-desktop is-hidden-tablet">
            <img src='{{"/images/logos/6tm.png"}}'>
            <img src='{{"/images/logos/apside.png"}}'>
            <img src='{{"/images/logos/bechange.svg"}}'>
            <img src='{{"/images/logos/brittany-ferries.png"}}'>
            <img src='{{"/images/logos/cgi.png"}}'>
            <img src='{{"/images/logos/coachissime.svg"}}'>
            <img src='{{"/images/logos/gmv.png"}}'>
            <a href="https://kokan.fr" target="_blank">
                <img src='{{"/images/logos/kokan.png"}}'>
            </a>
            <img src='{{"/images/logos/luminess.jpg"}}'>
            <img src='{{"/images/logos/maxds.png"}}'>
            <a href="https://www.linkedin.com/in/nicolas-djimli/" target="_blank">
                <img src='{{"/images/logos/nsdi.png"}}'>
            </a>
            <img src='{{"/images/logos/proxiad.png"}}'>
            <img src='{{"/images/logos/softeam.jpeg"}}'>
        </div>
    </div>
    <div class="container has-text-centered appel-sponsors-boutons-div">
        <a href="mailto:sponsoring@agilerennes.org" target="_blank">
            <div class="appel-sponsors-bouton"><img src='{{ "images/arrow.svg" }}' class="arrow">&nbsp;Contacter
                l'équipe sponsoring
            </div>
        </a>
    </div>
</section>
