<section class="section" id="team">
    <div class="container section-heading" style="margin-bottom: 2em">
        <h3 class="title is-2">L'équipe d'organisation</h3>
    </div>
    <div class="container">
        <div id="team-first-line">
            <!-- FILLED WITH JS -->
        </div>
        <div id="team-second-line">
            <!-- FILLED WITH JS -->
        </div>
    </div>
</section>
